<div class="container">
    <h2>User registration</h2>
    <form #loginform="ngForm" (ngSubmit)="registerUser()">
        <small [class.text-danger]="msg.status==500">{{msg.message}}</small>
      <div class="form-group"> 
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.email" required #email="ngModel"  pattern="[a-zA-Z ]*"
        [class.is-invalid]="email.invalid && email.touched"
        >
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is a required field</small>
        <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid email</small>
        </div>      
      </div>

      <div class="form-group"> 
        <label for="username">User name:</label>
        <input type="username" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="user.userName" required #username="ngModel"  pattern="[a-zA-Z ]*"
        [class.is-invalid]="userName.invalid && userName.touched"
        >
        <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">UserName is a required field</small>
        <div *ngIf="userName.errors && (userName.invalid && userName.touched)">
            <small class="text-danger" *ngIf="userName.errors.required">UserName is required field</small>
            <small class="text-danger" *ngIf="userName.errors.pattern">Enter the valid UserName</small>
        </div>      
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" #password="ngModel" required
        [class.is-invalid]="password.invalid && password.touched" >
       <small class="test-danger" [class.d-none]="password.valid || password.untouched" >Password is required field</small> 
      </div>

      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" placeholder="Enter confirm password" name="cpassword" [(ngModel)]="user.password" #password="ngModel" required
        [class.is-invalid]="cpassword.invalid && password.touched" >
        <small class="test-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched" >Password & Confirm Password must be the same</small> 
      </div>
     

      <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Register</button>
    </form>
   <small class="float-right" [routerLink]="['/login']">Existing user ? Login here</small>
  </div>